/* arquivo style.css */

body{
    background-color: black;/*cor de fundo*/
    color: red; /*cor do texto*/
    font-family: Verdana, Arial, "sans-serif"; /*fonte*/
}


/*todos titulos h1*/
h1{
    color: red;
    text-align: center; /*centraliza*/
}


hr{
    color: red
}


/* div com a class='container'*/
.container{
    max-width: 980px; /*largura maxima*/
    margin:auto; /*centralizar a div*/
    border:1px solid white;
    padding: 50px; /*espaço interno*/
    background-color: white;
}